@import "globals.less";

body {
    text-align: center;
}

h1 {
    font-size: 28px;
}

a {
    
}

#header {
    margin: 55px auto 20px auto;
    width: 800px;
    border-bottom: 1px dashed #777;
    padding-bottom: 15px;
    
    .logo {
        float: left;
        margin-right: 40px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            float: left;
            margin-right: 15px;
            font-size: 20px;
            
            a {
                margin-top: 7px;
                text-decoration: none;
                display: block;
                padding: 5px 10px 5px 10px;
                color: #333;
                .rounded_corners(5px);
                
                :hover {
                    background: #ddd;
                }
            }
        }
        
        li.active {
            a {
                background: #3366CC;
                color: #fff;
                
                :hover {
                    background: #3366CC;
                }
            }
        }
    }
}

#sub_header {
    margin: 0 auto 25px auto;
    width: 800px;
    padding-bottom: 5px;
    text-align: center;
    
    ul {
        list-style-type: none;
        margin: 0 auto 0 auto;
        padding: 0;
        width: 277px;
        
        li {
            float: left;
            margin-right: 15px;
            font-size: 20px;
            
            a {
                margin-top: 7px;
                text-decoration: none;
                display: block;
                padding: 5px 10px 5px 10px;
                color: #333;
                .rounded_corners(5px);
                
                :hover {
                    background: #ddd;
                }
            }
        }
        
        li.active {
            a {
                background: #3366CC;
                color: #fff;
                
                :hover {
                    background: #3366CC;
                }
            }
        }
    }
}

#page {
    text-align: center;
    
    .inner {
        padding-top: 30px;
        margin: auto;
        width: 800px;
        text-align: left;
    }
}

#footer {
    border-top: 1px dashed #777;
    margin: 55px auto 25px auto;
    width: 800px;
       
    ul {
        list-style-type: none;
        
        li {
            float: left;
            margin-right: 15px;
            font-size: 14px;
            
            a {
                margin-top: 7px;
                text-decoration: none;
                display: block;
                padding: 3px 7px 3px 7px;
                color: #333;
                .rounded_corners(5px);
                
                :hover {
                    background: #ddd;
                }
            }
        }
        
        li.active {
            a {
                background: #3366CC;
                color: #fff;
                
                :hover {
                    background: #3366CC;
                }
            }
        }
    }
}