.myspace_container {
    background: url(/images/myspace/space.gif) no-repeat;
    background-position: 492px 35px;
    padding: 0;
    width: 700px;
    position: relative;
    right: 165px;
    margin: auto;
    text-align: right;
    font-family: Arial;
    
    input {
        margin: 0;
        position: relative;
        right: 195px;
        bottom: 13px;
        font-size: 50px;
        font-weight: bold;
        border: 0;
        border-color: #fff;
        background: transparent;
        font-family: Helvetica;
        text-align: right;
        outline: none;
        width: 700px;
        position: relative;
        font-size: 66px;    
    }    
}

.myspace_logo {
    padding: 0;
    margin: auto;

    .text {
        padding-right: 200px;
        padding-bottom: 15px;
        background-image: url(/images/myspace/space.gif);
        background-repeat: no-repeat;
        background-position: right 45px;
        display: inline;
        margin: 0;
        font-size: 66px;
        font-weight: bold;
        font-family: Helvetica;
        
    }    
}
