<% title 'Create Your Own Gap Logo' %>

<%= render :partial => 'layouts/sub_header' %>

<div class="click_to_edit">
    <% form_for @logo do %>
        <div class="gap_container logo_container">
            <input name="gap[text]" maxlength="17" type="text" value="Gap" />
        </div>

        <div class="explain">
            <div>click to edit</div>
        </div>

        <button class="save" style="display: none">Save</button>
    <% end %>
</div>

<% jsblock do %>
    $(function() { LT.initLogoNew() });
<% end %>
