<div class="click_to_edit">
    <% form_for @logo do %>
        <%= render :partial => "logos/#{@type.underscore}/new" %>

        <div class="explain">
            <div>click to edit</div>
        </div>

        <button class="save" style="display: none">Save</button>
    <% end %>
</div>
