<div class="inner">
<h1>Logotake: Your Take On Logos</h1>

<p>Logotake is the place for people to share their feelings and sentiments
    about logo redesigns, using the logos themselves. It all started with 
    <a href="http://www.makeyourowngaplogo.com">Make Your Own Gap Logo</a>.
</p>

<p>Questions or comments? Email us at <%= mail_to 'logotakeapp@gmail.com' %>.</p>

</div>