<div id="footer">
    <div class="share">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.logotake.com%2Fi&amp;layout=standard&amp;show_faces=true&amp;width=325&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:325px; height:70px; color: #333" allowTransparency="true"></iframe>
    </div>
    <ul>
        <li><%= link_to 'About', :controller => 'about' %></li>
        <li><%= link_to 'Follow us on Twitter', 'http://www.twitter.com/logotake' %></li>
        <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="logotake">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
    </ul>
</div>
