<div class="header_ad">
    <script type="text/javascript"><!--
    google_ad_client = "pub-3027119331720695";
    /* 728x90, created 10/11/10 */
    google_ad_slot = "7998433236";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>

<div id="header" class="clearfix">
    <%= link_to image_tag('logo.png'), root_url, :class => 'logo' %>
    <ul class="clearfix">
        <%= top_menu_item 'Gap', new_gap_url, :controller => 'gaps' %>
        <%= top_menu_item 'MySpace', new_myspace_url, :controller => 'myspaces' %>
    </ul>
</div>
