<div id="header" class="clearfix">
    <%= link_to image_tag('logo.png'), root_url, :class => 'logo' %>
    <ul class="clearfix">
        <li><%= link_to 'Gap' %></li>
        <li><%= link_to 'MySpace' %></li>
    </ul>
</div>
