<div id="sub_header" class="clearfix">
    <ul>
        <%= top_menu_item 'Create', { :action => 'new' }, :action => 'new' %>
        <%= top_menu_item 'Top', { :action => 'top' }, :action => 'top' %>
        <%= top_menu_item 'Random', { :action => 'random' }, :action => 'random' %>
    </ul>
</div>